<head>
    <!---bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<!-- add run modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addRunForm">
    Add Run
</button>
<div class="modal fade" id="addRunForm" tabindex="-1" role="dialog" aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="label">Add Run</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        
        <form action="/routes/addrun" method="post">
            <div class="modal-body">
                <div class="form-group">
                    <label>Date (m/d/yyyy)</label>
                    <input class="form-control" name="runDate">
                </div>
                <div class="form-group">
                    <label>Title</label>
                    <input name="runTitle" class="form-control">
                </div>
                <div class="form-group">
                    <label>Distance (miles)</label>
                    <input class="form-control" name="runDistance">
                </div>
                <div class="form-group">
                    <label>Notes</label>
                    <textarea class="form-control" name="runNotes"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" id="addrunsubmit" class="btn btn-lg btn-primary">Add</button>
            </div>
        </form>
        
      </div>
    </div>
  </div>


<!-- display all runs -->
<ul>
    <% items.forEach(function(item) { %>
        <li>
            <%= item.title %>
        </li>
    <% }); %>
</ul>